[2020-11-10 16:55] jrcamp opened #32 "Enable batching for metrics"
Batching is currently only enabled for traces. Should enable for metrics.

https://github.com/signalfx/o11y-collector-for-kubernetes/blob/50e3132c59aeb6e96fa2cb67803c7fa47c3e5cfb/helm-charts/o11y-collector/templates/config/_otel-collector.tpl#L79

https://github.com/signalfx/o11y-collector-for-kubernetes/blob/master/helm-charts/o11y-collector/templates/config/_otel-agent.tpl#L164

Thanks @mstumpfx

[2021-03-04 16:55] tigrannajaryan opened #54 "BUG: Readme does not tell where to get splunkRealm and splunkAccessToken from"
"How to install" section should have a link to the docs or product page where I can get the realm and access token from.

[2021-03-04 17:02] tigrannajaryan opened #55 "BUG: fresh deployment on a new K8s cluster results in Collector crashloop"
*Steps:*

1. New K8s cluster using Docker on Mac.
2. `helm repo add splunk-otel-collector-chart https://signalfx.github.io/splunk-otel-collector-chart` succeeded.
3. `helm install my-splunk-otel-collector --set="splunkRealm=lab0,splunkAccessToken=<redacted>,clusterName=tigran-bugbash-cluster" splunk-otel-collector-chart/splunk-otel-collector` succeeded.
4. `kubectl get pods` shows:
[code]
5. `kube

[2021-03-04 17:31] tigrannajaryan commented on #55
@dmitryax I am not sure what am I doing wrong. Should I assign this to you?

[2021-03-09 15:39] rcastley opened #58 "Error in HELM command in README"
The example `helm` command that uses the `values.yaml` does not work due to having `./helm-charts/splunk-otel-collector` on the end

[code]
The above needs to be changed to
[code]

[2021-03-09 22:29] #58 closed

[2021-03-15 15:48] clheikes opened #66 "otelCollector pipeline "logs" references receiver "signalfx" which does not exist"
helm install my-splunk-otel-collector --set="<required values removed> ,otelagent.enabled=false,otelK8sClusterReceiver.enabled=false,otelCollector.replicaCount=4,otelCollector.enabled=true" splunk-otel-collector-chart/splunk-otel-collector

Error: cannot load configuration: pipeline "logs" references receiver "signalfx" which does not exist
2021/03/15 14:01:50 main.go:74: application run finished

[2021-03-19 16:58] dmitryax commented on #66
Hi @clheikes. Thank you for reporting. The issue is fixed in the latest chart release

[2021-03-24 16:02] dmitryax opened #73 "Otel agent doesn't start in the gateway (otelCollector.enabled=true) mode"
Use the following helm values:
[code]

Collector running as agent is failing with the following message:
[code]

[2021-03-24 16:15] jrcamp commented on #73
Hmm I think signalfx should probably not be in the trace pipeline in the gateway mode since it's only for correlation which has to run on the agent only.

[2021-03-24 16:41] dmitryax commented on #73
@jrcamp can we utilize https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/httpforwarder to make correlation work in the gateway mode?

[2021-03-24 16:43] jrcamp commented on #73
Yep I think so

[2021-03-24 17:52] #73 closed

[2021-03-25 15:10] mjpatel1 commented on #55
@tigrannajaryan - I am also having same issue on my K8s cluster using docker on my Mac and on GKE as well.

1. `kubectl get pods` shows:

[code]

2. `fluentd` container under `my-splunk-otel-collector-agent` pod works fine, although `otel-collector` container is having issue
3. `kubectl logs my-splunk-otel-collector-agent-rbdpt -c otel-collector` shows:
[code]

[2021-04-06 22:16] dmitryax opened #83 "Update README.md according to the latest changes to platform config"
The `platform` option was split into `provider` and `distro` in https://github.com/signalfx/splunk-otel-collector-chart/pull/80 but README still has `platform` https://github.com/signalfx/splunk-otel-collector-chart#kubernetes-platform

[2021-04-12 03:27] dmitryax commented on #55
Docker for mac is not currently supported.

@maulikp-splunk could you please share more details about your GKE cluster? I tried the helm chart on GKE cluster 1.18.16-gke.502 and cannot reproduce the issue.

[2021-04-13 14:54] #32 closed

[2021-04-13 16:32] dmitryax opened #93 "lint-test job throws a lot of "pattern not matched" errors"
We need to look into those, it may be a real problem.

Example: https://github.com/signalfx/splunk-otel-collector-chart/runs/2335314821

[code]

[2021-04-13 16:55] #54 closed

[2021-04-13 21:48] #83 closed

[2021-04-23 15:51] asuresh4 opened #111 "Add option to collect volume metrics from kubeletstats receiver"
The `kubeletstats` receiver optionally collects volume metrics. Add an option to configure the receiver to collect these metrics. This will give us parity with the [SA chart](https://github.com/signalfx/signalfx-agent/blob/v5.9.2/deployments/k8s/helm/signalfx-agent/values.yaml#L267).

[2021-04-24 17:30] dmitryax commented on #111
It is possible to configure any component in the chart. To configure `kubeletstats` receiver you have the following option:
[code]
Isn't it sufficient? Or do we want volume metrics enabled by default?

[2021-04-26 18:15] asuresh4 commented on #111
@dmitryax - yes, one could do that as well. PTAL https://github.com/signalfx/splunk-otel-collector-chart/pull/112 to add comments with the config required to collect metrics from volumes. Let me know if this is a better approach to take.

[2021-05-03 16:46] #93 closed

[2021-05-07 15:48] jrcamp opened #133 "Make hostNetwork optional"
hostNetwork is currently set to true which may not work for some environments. (Fargate?)

_Originally posted by @dmitryax in https://github.com/signalfx/splunk-otel-collector-chart/issues/127#issuecomment-833963375_

[2021-05-19 18:22] stevelerner opened #141 "all examples are 404s"
all links are 404s on this page- plz help :-)

[2021-05-19 20:58] rmfitzpatrick commented on #141
@stevelerner are you referring to the links corrected by https://github.com/signalfx/splunk-otel-collector-chart/pull/142 or something else?

[2021-05-19 21:02] #141 closed

[2021-05-20 21:54] dmitryax commented on #55
Thanks @maulikp-splunk. I'm closing the issue then

[2021-05-20 21:54] #55 closed

[2021-05-20 21:57] dmitryax commented on #111
@asuresh4 we have usage examples here now https://github.com/signalfx/splunk-otel-collector-chart/blob/main/examples/README.md
Do you still want to add a `kubeletstats` example or we can close the ticket?

[2021-05-26 18:44] maulikp-splunk opened #152 "otel-collector container in splunk-otel-collector pod crashes in GKE"
Hello team,

I am using helm version `splunk-otel-collector-0.26.1 ` on GKE `(1.19.9-gke.1400)` and noticed that splunk-otel-collector pod  is in `CrashLoopBackOff` state.

Here are log details from otel-collector container in splunk-otel-collector pod:

[code]

[2021-05-28 16:11] dmitryax opened #155 "Migrate from old-style labels"
The chart uses old labels that used to be widely used with helm 2, but not recommended anymore. Move to the labels that are recomended by helm https://helm.sh/docs/chart_best_practices/labels/#helm

[2021-06-04 06:56] debae opened #156 "It should be possible to add custom labels to the deployments"
We for example determine on specific labels in a deployment where a pod should be running, on a specific node , on fargate ...
It is however not possible to add custom labels and/or annotations to the template of the pod :
[code]

Ideally we should have something like this :

[code]

[2021-06-07 21:11] dmitryax commented on #156
@debae thanks for reporting. We will add an ability to set custom labels and annotations

[2021-06-08 00:56] dmitryax commented on #156
@debae thanks for reporting. We are adding support for custom labels and annotations

[2021-06-08 15:28] #156 closed

[2021-06-18 20:57] dmitryax commented on #152
Hi @maulikp-splunk ,

Deployment of otel-collector was failing because Google added their own build of otel-collector for metrics collection to GKE nodes by default and there was a conflict on port 8888 for internal collector's metrics collection.

Google switched their agent from 8888 to 8200, and the agent should be automatically upgraded by now. So if you try to install the splunk-otel-collecto

[2021-06-18 20:59] dmitryax commented on #111
Closing the issue as resolved. @asuresh4 feel free to submit a PR to add a usage examples for volume metrics

[2021-06-18 20:59] #111 closed

[2021-06-23 16:13] maulikp-splunk commented on #152
Thank you @dmitryax !! You are the best as always !! I tried installing it today, and works perfectly fine!

[2021-06-23 16:44] #152 closed

[2021-08-23 06:54] plentifullee opened #186 "Non-docker runtime support?"
Installed splunk otel via helm to an AWS EKS cluster with containerd runtime. No problems with the deployment, able to see some metrics on signalfx console (map, nodes, workloads). However there's no metrics in Node Details (not able to see CPU / Memory) and also no metrics in Workload Details (can only see some metrics on 'Pods by Phase' and all the pods, not able to see 'CPU% Pctile over Contain

[2021-09-03 09:39] andreas-ahman opened #188 "receivercreator not appending custom resource_attributes"
I'm trying to add some attributes to metrics being scraped.

[code]

These additional attributes does however not show up in the metric.

Why does it not show up and if it's intentional how can I add custom dimensions on the metrics?

[2021-09-03 16:23] dmitryax commented on #188
Hi @andreas-ahman

Just to clarify. Do you see the scraped metrics, but without `kubernetes_cluster` dimension?

[2021-09-03 23:46] mtwo opened #189 "Capture some pod labels by default"
A common use case that I've heard at customer meetings is applying a common set of pod labels as dimensions / annotations on metrics, traces, and logs. Users can custom-define these labels, and there are often too many to efficiently apply all of them, but it would be nice if the Collector captured some common / built-in ones. For example, Datadog's agent does a nice job of this: https://docs.data

[2021-09-06 07:13] andreas-ahman commented on #188
Hi @dmitryax

That's exactly the issue we're seeing. I've tried with the latest image and still have this issue.

[2021-09-07 19:07] mstumpfx commented on #189
Hi @mtwo

By default, at least for metrics, we do capture labels as [signalfx properties](https://docs.signalfx.com/en/latest/metrics-metadata/metrics-metadata.html#properties) that are synced onto resource UID dimensions.

For example, for pod labels we sync this onto the `k8s.pod.uid` dimension. In the signalfx product you should be able to navigate to the Menu --> Metrics --> Metadata Finder --

[2021-09-09 16:10] dmitryax commented on #188
Hi @andreas-ahman , I believe it can be caused by a conflict on the backend with `k8s.cluster.name` attribute that is set uniformly in this chart from `clusterName` in values.yaml. `kubernetes_cluster` and `k8s.cluster.name` are mapped to each other on query time to support migration from Signalfx Smart Agent to Splunk Otel Collector. So you want to send telemetry with only one of those attributes

[2021-09-10 05:06] andreas-ahman commented on #188
Ok, that makes sense. Thanks for the help.
But that's actually besides the point at this moment.

We've realised we need the full prometheusreceiver since we need to add some computed dimensions, and for that we're seeing a different issue. See [#5081](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5081) in otel-collector-contrib.

[2021-09-10 05:06] #188 closed

[2021-09-15 12:38] baasbank opened #193 "Failed to export spans. Error message: UNAVAILABLE: io exception"
Started seeing this error message in our logs about 12 hours ago. Nothing has changed in our setup, so we're not quite sure why it started.

[code]
Anyone has any ideas what the problem might be?

[2021-09-15 12:43] atoulme commented on #193
I believe this error is thrown by your Java application. The error says that your Java application is unable to send traces to the remote endpoint it is configured with because it's not responding. Please check that the remote endpoint is live and accessible from the Java application.

[2021-09-16 11:59] baasbank commented on #193
The default port was changed to 4317. Started working again after changing the port.

[2021-09-22 09:38] lindhe opened #198 "Receiver pod name exceeds 63 characters"
The name used for the receiver deployment is `{{ template "splunk-otel-collector.fullname" . }}-k8s-cluster-receiver`, which is rather lengthy. Of course, this will depend on the release name since that's included in `fullname`, but using that and appending `-k8s-cluster-receiver` will always be pretty long for a name that's limited to 63 characters.

https://github.com/signalfx/splunk-otel-collec

[2021-09-24 11:23] gingerwizard opened #204 "How to use with Splunk Enterprise"
The docs for this chart state the connector is compatible with Splunk Enterprise. Are there any examples? Its unclear from the chart values how this is supported and what data types? logs/metrics ?
Can we get clarification in the docs?

[2021-10-05 21:05] dmitryax commented on #204
Hi @gingerwizard, Splunk Enterprise support is in progress. It should be available in the next release

[2021-10-06 04:19] #204 closed

[2021-10-06 08:14] gingerwizard commented on #204
@dmitryax could you possibly differentiate the difference between this project and https://github.com/splunk/sck-otel ? I assumed the historical difference was the lack of splunk enterprise support in this chart. Which of these should be considered the authoritative means of collecting from a k8 cluster for splunk enterprise ingestion?

[2021-10-11 16:19] gingerwizard opened #222 "Collecting Kubernetes Objects and Events"
Looking through the chart i cant see equivalent capabilities to https://github.com/splunk/splunk-connect-for-kubernetes/tree/develop/helm-chart/splunk-connect-for-kubernetes/charts/splunk-kubernetes-objects...how should k8 events be captured? Objects are generally less interesting, although useful, but events are essential.

[2021-10-14 09:29] gingerwizard commented on #222
Thanks, @dmitryax yes I think objects and have limited uses and thus are much lower priority.  Great to hear events are being added.

[2021-10-19 10:47] gingerwizard commented on #222
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5047

[2021-10-25 22:55] billg-splunk opened #248 "k8sEventsEnabled set to false by default. Can we add documentation for it?"
Currently the following section is the default:

[code]

Can we add a section in:
https://github.com/signalfx/splunk-otel-collector-chart/blob/main/examples/README.md

that explains enabling this to get events?

[2021-11-02 20:46] TylerHelmuth opened #264 "Add new Exporter without replacing existing default exporters"
I'd like to add the logging exporter to my trace pipeline in my agent.  I updated the config section of the otelAgent to look like:

[code]

In the hopes that it would merge the new exporter with the existing defaults.  For the exporters section it worked, but for the trace pipeline's exporters it wiped our sapm and signalfx.  Is that expected or have I setup my values.yaml incorrectly?  Would lov

[2021-11-03 00:02] dmitryax commented on #264
Hi @TylerHelmuth, unfortunately helm supports only deep merge for maps not for lists. Until we have a similar capability on the application side https://github.com/signalfx/splunk-otel-collector, particular pipeline lists has to be fully overridden.

[2021-11-03 00:33] TylerHelmuth commented on #264
Bummer guess I'll throw spam and signalfx in there for now.

Any chance logging would be included in the trace pipeline by default?

[2021-11-03 02:21] dmitryax commented on #264
No, I don't think it'll happen. It's only supposed to be used for debug purposed

[2021-11-03 03:00] TylerHelmuth commented on #264
Interesting. In an old version of the collector we are using it to output the number of traces it's collecting, which is then getting ingested into Splunk Core so we can compare the number of traces the collector receives with the number of traces the applications are generating. Is there a different technique we should be doing to get the "number of traces receive by collector" metric into Splunk

[2021-11-03 04:30] dmitryax commented on #264
Yes, the collector fetches its own metric and sends them to a configured destination. It has it's own pipeline: https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl#L511

In Observability Suite there is a default OpenTelemetry dashboard that uses those metrics.

[2021-11-03 15:15] TylerHelmuth commented on #264
We're doing that too, but having the span count from the collector in Splunk Core along with the application span count logs means we can run searches that compare the numbers and set up monitors.

[2021-11-03 16:59] chaitanyaphalak opened #266 "Add support for overriding/configuring annotations/labels to get all annotations/labels"
Add support for overriding/configuring annotations to get all annotations
Add support for overriding/configuring labels to get all labels

[2021-11-03 20:23] dmitryax commented on #264
@TylerHelmuth you can also send the same metrics to Splunk Core using HEC exporter.

[2021-11-03 23:05] TylerHelmuth commented on #264
Perfect. We'll look into that. Thanks

[2021-11-03 23:06] #264 closed

[2021-11-04 14:25] notcool11 commented on #264
@dmitryax

Disagree with this, Observability would say gimme the logs all the time. Could be that the logging level can be tweaked but the act of logging should definitely be defaulted on and easily configurable in the values.yaml.

[2021-11-16 22:28] tknguyen3 opened #293 "Support for Istio VirtualService resource"
It would be nice to have native support for Istio VirtualService resources that get deployed along with everything else. We used to modify `values.yaml` directly but ever since this [schema validation change](https://github.com/signalfx/splunk-otel-collector-chart/pull/239), we now get the following error.

[code]
Flipping `additionalProperties` back to false would be an option, but something that

[2021-11-18 16:58] chaitanyaphalak commented on #266
Fixed as part of https://github.com/signalfx/splunk-otel-collector-chart/pull/273

[2021-11-18 16:58] #266 closed

[2021-11-18 16:58] chaitanyaphalak opened #303 "Add support for more kubernetes versions for Splunk platform functional/integration tests"

[2021-11-18 19:56] dmitryax opened #307 "Add example on how to collect logs from custom host paths"
Add a configuration example using `extraFileLogs` option added in [this PR](https://github.com/signalfx/splunk-otel-collector-chart/pull/300) with config parameter for mounted volumes.

Discussion reference: https://github.com/signalfx/splunk-otel-collector-chart/pull/300#discussion_r752483728

[2021-11-18 23:50] mbranyon opened #309 "multi-line log messages attached to standard log lines"
## What did you try to do?

Enable multilineConfigs to capture stack traces from java apps using the suggestion:
[code]

## What happened?

When looking at logs in the web interface, we see entries like the following, which obviously should not have java stack traces:
[code]
This particular log is from ingress-nginx.

## What did you expect to happen?

I expect java traces not to be assigned log l

[2021-11-19 21:13] rockb1017 commented on #309
hello,
[code]
you didn't specify any pod name or container name.
then it will try to apply the same multiline configuration to all pods.
I would suggest to provide pod name or container name.

But anyways, i see your point. logs seem to be mixed up across multiple pods.

[2021-11-19 21:16] rockb1017 commented on #309
what is your cloud provider, container runtime, and kubernetes version?

[2021-11-19 22:19] mbranyon commented on #309
This is in AWS, but is not using EKS, running on flatcar/containerd, and k8s version `1.19.8`

[2021-11-22 16:48] matthewmodestino commented on #307
Would love if we provided example for EmptyDir and persistent Volume Claims.

I have tested with AzureFile mount successfully with a customer, however admins seem to be keen on using EmptyDir and in cluster storage classes to avoid latency and extra costs.

Still waiting to hear back on whether AKS even supports collection from EmptyDir or if there are special config consideration/security conside

[2021-11-24 22:38] dmitryax commented on #193
@baasbank looks like the issue is resolved with the updated port, I'm closing the issue. Feel free to reopen

[2021-11-24 22:38] #193 closed

[2021-11-29 22:28] TylerHelmuth opened #321 "Support for smartagent/kubernetes-apiserver"
I'm trying to enable Cluster Service metric collection via the OTEL Collector so that the Cluster Services dashboard populates and it _looks_ like Splunk enables that via the [smartagent/kubernetes-apiserver reciever](https://docs.splunk.com/observability/gdi/kubernetes-apiserver/kubernetes-apiserver.html).    Are there plans to update the charts to enable this feature or does it need to be done v

[2021-11-29 23:12] TylerHelmuth commented on #321
Actually looks like theres lots of difference receivers to get all those panels to populate.  Is that all done via different versions of the smartagent and if so are there plans to enable that via the charts directly?

[2021-11-30 07:11] dmitryax commented on #321
Hi @TylerHelmuth. Thanks for reporting. Yes, we are going to add support of k8s control plane metrics OOTB with this chart. This is in progress.

[2021-12-01 13:43] gusdebbaja opened #328 "Allow helm chart to be used as subchart"
Hi,

As this chart has an enforced values schema, it cannot be deployed as a subchart. This is because `global` is not an allowed property in the schema.

Solution:
Add global property in the value schema:
Add this in line 11:
[code]

How to reproduce this:
Create the following folder structure (or just type `helm create parentChart` ):
- parentChart
  - charts
    - Chart.yaml (see below)
    - v

[2021-12-01 23:53] #328 closed

[2021-12-01 23:53] dmitryax commented on #328
@illrill thanks for taking care of it

[2021-12-02 19:22] dmitryax opened #332 "Add support for Splunk Observability Profiling"
## Use case

User wants to send profiling data through OTel agent or gateway, but don't want to collect any logs. Given that profiling data utilizes the same pipeline as logs, currently it's pretty tricky to configure the helm chart for that use case

## Suggested solution

Add another configuration option to explicitly enable profiling support.

[code]

Under the hood the helm chart should make s

[2021-12-09 00:56] chaitanyaphalak commented on #332
So are we going to decompose the logging pipeline into reusable chunks or just add a new pipeline?

[2021-12-09 20:17] dmitryax commented on #332
We will be reusing the same pipeline. This change will be applicable only if Splunk Olly Profiling is enabled

[2021-12-13 19:34] TylerHelmuth opened #337 "Disconnect between K8s and Host dashboards and OOTB Attributes/Dimensions"
We are experiencing frustration around the OOTB Splunk Distribution of the Collector and the K8s Dashboards and Host dashboard.  Those dashboards expect the old style variable names such as kubernetes_cluster, kubernetes_node, kubernetes_pod_name, kubernetes_namespace, and host.  But the default charts generate a collector that only correlates traces and metrics on the OTEL specific names.  As a r

[2021-12-16 19:29] jadbSFx commented on #337
Hi Tyler, You should not need to add additional dimensions/properties on the data you're sending in. The mapping service (see: https://docs.splunk.com/Observability/gdi/migrate/mapping-service.html for an overview) should generally treat the OTel semantics as equivalent to the legacy semantics for the purposes of analytics. For instance we treat `k8s.cluster.name` as equivalent to `kubernetes_clus

[2021-12-17 20:17] dmitryax opened #344 "Add better documentation for logs exclude/include logic"
We need a section for logs include/exclude capability based on annotation in https://github.com/signalfx/splunk-otel-collector-chart/blob/main/docs/advanced-configuration.md. It should cover both fluentd and native logs collection.

[2021-12-28 22:12] TylerHelmuth commented on #337
What we've been focused on recently has definitely been the links to dashboards.  The experience we've been having is that the collector correctly sets all the OTEL spec tags like k8s.pod.name and host.name, but if you configure those values to go to one of Splunk's predefined dashboard they don't work; they don't try to add any extra filters instead of variables either.

We love the move to OTEL,

[2022-01-10 14:15] beth2016 opened #348 "docker images for windows"
From reading , it looks like this chart support windows nodes.   But I cannot find the docker images for windows in either:
repository: splunk/fluentd-hec
or
repository: quay.io/signalfx/splunk-otel-collector

Am I missing something?  thanks.

[2022-01-10 14:40] akorp opened #349 "Add support for extra/custom annotations in secret-validation-hook"
Add support for extra/custom annotations for `secret-validation-hook` (pod `splunk-otel-collector-validate-secret`) to control sidecar containers.

In our kubernetes cluster linkerd injects sidecar containers to all pods, except those with annotation `linkerd.io/inject: disabled`.
Since we don't have an option to add annotation for `secret-validation-hook`, pod `splunk-otel-collector-validate-secr

[2022-01-10 23:10] dmitryax commented on #348
@beth2016 Windows images for splunk-otel-collector are here: https://quay.io/repository/signalfx/splunk-otel-collector-windows

Logs collection in windows is not supported yet, so there is no Windows image for splunk/fluentd-hec

[2022-01-11 03:08] vinitmasaun opened #351 "Hybrid EKS cluster with windows and linux worker nodes"
Hello,

We have an eks cluster which includes both windows and linux worker nodes.   I have the following questions:

1.  Can I enable both Fluentd log engine for Linux worker nodes and Otel log engine for windows worker nodes?  If this is not supported, how can I index logs from both linux and windows worker nodes in the same EKS cluster?
2.  I tried deploying the 0.41.1 version of the chart with

[2022-01-11 13:20] beth2016 commented on #348
@dmitryax thank you!!!

[2022-01-11 13:20] #348 closed

[2022-01-11 14:37] matthewmodestino commented on #351
Hi @vinitmasaun! I believe you need to have 2 deployments. One with `isWindows: true` and one with `isWindows: false`. Also, make sure to set `clusterReceiver.enabled: false` for one of the deployments.

[2022-01-11 16:53] dmitryax commented on #351
@matthewmodestino provided the correct way to deploy the chart in the mixed environment, but it'll work for metrics and traces only. We don't support collection logs from Windows nodes at this point, this is coming soon.

[2022-01-11 16:57] dmitryax opened #352 "Flaky Splunk Platform Functional Test"
We got a failed test run from a non functional change that was healed by re-running it: https://github.com/signalfx/splunk-otel-collector-chart/runs/4778137121?check_suite_focus=true

Looks like the tests are flaky and should be fixed.

@luckyj5 @chaitanyaphalak can some of you please take a look?

[2022-01-11 16:58] #349 closed

[2022-01-11 17:04] dmitryax commented on #351
We have docs for Windows here (should be probably moved to docs/advanced-configuration.md): https://github.com/signalfx/splunk-otel-collector-chart/blob/main/examples/README.md#deploy-for-k8s-cluster-with-windows-worker-node

[2022-01-11 17:06] vinitmasaun commented on #351
Thank you Dmitrii.  Is there a timeline for when windows logs will be supported?  Is there an experimental branch that I could try out that has this support?

Ratings-Monitoring SNOW Request<https://spglobal.service-now.com/spg?id=sc_cat_item&sys_id=4ac3d42d1b9bf494966da977bc4bcbf7&sysparm_category=3a3dd38e1bdb78d4966da977bc4bcb2b>
Regards,
Vinit Masaun
Mobile: (201) 360-9808
[signature_302861727]

[2022-01-11 19:05] dmitryax commented on #351
@vinitmasaun it's roughly 1 month away

[2022-01-11 19:11] vinitmasaun commented on #351
thank you!  Anxiously looking forward to it!

[2022-01-11 19:38] dmitryax opened #353 "Add documentation for `splunk.com/index` annotation"
Looks like there is no documentation on how to configure Splunk index routing with `splunk.com/index` annotation in this repo.

[2022-01-12 21:36] Sarten-X opened #354 "Something is left behind in uninstallation, breaking some future deployments"
I deployed the Helm chart to a cluster, and all is fine. Data appears in Splunk and I can do charts and dashboards and all the usual things. However, I had deployed it to the `default` namespace, and it really shouldn't be there... So I uninstalled the chart, and deployed it again, this time to a `splunk `namespace.

Now almost everything is working again, except the cluster receiver pod. That one

[2022-01-14 21:07] flands commented on #332
Overall, this seems reasonable to me — one consideration is whether fluentd/otel logs are collected by default — in this case, even with collector being false an agent would be collecting logs and errors would be generated somewhere. Maybe that is not a concern given data setup page will only default to on if entitled. Why default to false though?

[2022-01-14 21:23] aunshc commented on #332
Correct me if I am wrong @dmitryax, IIRC that was the initial decision to stay consistent with the splunk-otel-collector since customers and field complained that collector threw errors and wasted resources with logs enabled and they may have other sources of logs being collected. This decision was then translated to the data collection configuration for Kubernetes in the gdi spec here https://git

[2022-01-14 21:34] dmitryax commented on #332
@flands as decided recently and stated in the GDI spec, logs are disabled by default. So no fluentd or otel logs collection is happening unless user specifies `splunkObservability.logsEnabled=true`. Right now it means that logs pipeline is disabled completely by default. Introducing `splunkObservability.profilingEnabled` makes the logs pipeline dependent on both `splunkObservability.logsEnabled or

[2022-01-17 17:44] dmitryax commented on #354
Hi @Sarten-X,

The helm chart is supposed to be installed in the namespace that is currently set as default for a user running the helm command, that is expected behavior. The namespace can be changed with `-n, --namespace` helm argument. We don't document it to avoid duplicating [official helm docs](https://helm.sh/docs/helm/helm_install/), but maybe we should add a note about the namespace.

I t

[2022-01-19 01:31] luckyj5 opened #360 "Group and create journald receiver by priority level"
Instead of creating journald receiver for each service unit, group them by priority and create receiver per priority, e.g. `journald/info`, `journald/error` etc.

_Originally posted by @dmitryax in https://github.com/signalfx/splunk-otel-collector-chart/pull/290#discussion_r753951314_

[2022-01-19 02:11] luckyj5 commented on #352
@dmitryax I faced this issue several times, eg: https://github.com/signalfx/splunk-otel-collector-chart/runs/4861763953?check_suite_focus=true, which passed successfully after rerunning.
Here tests are failing (as expected) because there is no data found in Splunk env (`Splunk received 0 events in the last minute`)
While comparing the failed run vs successful run, I noticed the below:
![image](htt

[2022-01-20 06:44] dmitryax commented on #351
Hey, the Windows logs collection support is added in [this PR](https://github.com/signalfx/splunk-otel-collector-chart/pull/361) and will be available in the next release

[2022-01-24 13:49] ph61706c6e opened #363 "Incorrect type for extraOperators in values.schema.json"
when attempting to add an operator to the extraOperators list of the form

[code]

a helm error is seen

[code]

Per the [opentelemetry-log-collection filter documentation](https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/filter.md) this object should be valid. The use of objects also matches the rest of the operators that are defined in [_otel-agent.tpl](htt

[2022-01-24 19:37] polarG opened #366 "Multiline breaker not work correctly in k8s"
Description:
The multiline breaker was not work at the beginning of parse. The events received were single line but not as multiline configured. After sometimes, it worked as expected.

Configuration:
logsCollection:
containers:
multilineConfigs:
- namespaceName:
value: default
podName:
value: gogen*
useRegexp: true
containerName:
value: cputime-perfmon
firstEntryRegex: ^\d{2}/\d{2}/\d{4} \d{2}:\d

[2022-01-25 04:27] #363 closed

[2022-01-31 21:50] aunshc commented on #332
@dmitryax Since setting `splunkObservability.profilingEnabled` to be true by default enables the shared pipeline and enabling profiling itself will be done just in the instrumentation configuration, yes, we should do the same in the helm chart as well. LGTM

[2022-02-01 06:31] dmitryax commented on #366
@polarG , could you please provide more details on when it works and when it doesn't work

[2022-02-02 18:37] #332 closed

[2022-02-03 20:31] polarG commented on #366
Not very exactly, during around the first 10-20 seconds, events are broke line by line. After that, works correctly.

[2022-02-04 07:33] dmitryax commented on #366
Thanks for reporting. Is there an easy way to get the logs output that you have to reproduce it?

[2022-02-07 12:03] bencyoung-Fignum opened #380 "Enabling metrics causes hard to diagnose issue"
We're collecting logs happily into out Splunk Cloud Platform instance, and now want to enable metrics, however when we do so we get an error that's pretty hard to diagnose. Any idea what we do to look into it?

[code]

This never corrects itself and no metrics are exported. To set it up I run:

[code]

If I remove ",splunkPlatform.metricsEnabled=true" then all is happy...

[2022-02-07 12:07] bencyoung-Fignum commented on #380
Apologies, I've just found that the reason was the index wasn't included in the HEC... Possibly the error could be improved but please feel free to close...

[2022-02-07 13:29] HiteshDhuria opened #381 "Traces ingestion into Splunk platform"
Hi all,
I see a limitation to ingest Otel traces only to Splunk Observability and not to Splunk platform. Is this posses by Splunk itself or is it viable to ingest traces to Splunk platform as well. If so, can this be addressed?
Thanks,
Hitesh

[2022-02-07 20:05] #380 closed

[2022-02-07 20:06] dmitryax commented on #381
cc @rockb1017

[2022-02-07 20:08] dmitryax commented on #380
@rockb1017 we probably need another issue to improve the warning. Probably can be solved by adding `splunkPlatform.metricsEnabled` -> `splunkPlatform.metricsIndex` dependency in `values.schema.json`

[2022-02-08 19:11] rockb1017 commented on #380
@dmitryax  we do have that check already.
[code]
I think this is about metrics index not being associated with HEC token one is using. on the splunk indexer side.
 I tihnk we should have received the `wrong index` error from splunk HEC, but it didn't. let me take a look

[2022-02-15 19:59] beth2016 opened #382 "Error: run as uid (20000) is not supported on Windows"
I am trying to run otel-collector-agent to collect logs for windows in our eks cluster.

I have logsEngine set to "otel"

The pod is failing to come up with this error:
Error: run as uid (20000) is not supported on Windows

Am I missing something?  Any input is appreciated.

[2022-02-15 20:35] jvoravong commented on #382
Make sure to set isWindows=true in values.yaml
https://github.com/signalfx/splunk-otel-collector-chart/blob/b2dfe48d82b760369c4d3a3f98acb413473cbff4/helm-charts/splunk-otel-collector/values.yaml#L810

[2022-02-15 20:52] beth2016 commented on #382
@jvoravong That is set to true I'm afraid
isWindows: true

[2022-02-15 21:02] beth2016 commented on #382
Ah, looks like i have to use use runAsUserName in windows to get passed that error,

[2022-02-15 21:02] #382 closed

[2022-02-22 04:39] Sarten-X commented on #354
The (retyped) commands I used were:

`helm install my-splunk-otel-collector -f otelvalues.yaml splunk-otel-collector-chart/splunk-otel-collector`
(time passes)
`helm uninstall my-splunk-otel-collector`
`helm install --namespace splunk --create-namespace my-splunk-otel-collector -f otelvalues.yaml splunk-otel-collector-chart/splunk-otel-collector`

This did not work, as described. I tried it again,

[2022-02-22 04:39] #354 closed

[2022-02-23 19:13] #351 closed

[2022-02-27 07:52] rockb1017 commented on #309
This has been a bug and its fix is merged. the next release that include that patch will fix this.
https://github.com/open-telemetry/opentelemetry-log-collection/issues/276

[2022-03-02 16:37] matthewmodestino commented on #353
bump, need this updated for customers interested routing via annotation

[2022-03-02 17:25] matthewmodestino commented on #344
bump, need this updated for customers interested as well. Thanks team!

[2022-03-02 22:19] inspired commented on #353
Also confirmed with customer that you can override this on a Deployment or DeploymentConfig (OpenShift object) basis by doing the following:

1. Add to **spec.template.metadata.annotations** with splunk.com/index = something
2. Do a rollout.
3. The pods created by the Deployment/DeploymentConfig will now inherit the annotation

[2022-03-03 00:06] matthewmodestino opened #395 "Allow filelog include parameter to be set in helm chart"
As an OTel native logging user, I would like to be able to set what `filelog.include` paths I want to monitor in my helm values to allow me a chance to declaratively target certain workloads upfront.

This provides an alternative to needing to exclude logs via annotation or needing to set multiple exclude paths after the fact, saving the need to process logs I have no interest in. Instead I can ma

[2022-03-03 12:46] matthewmodestino opened #396 "Add default "newline detection" recombine rule for docker"
As a OTel native logging user, I would like there to be a default recombine rule for docker logs, similar to what we ship for cri-o and containerd, where we use "newline" detection to break events.

Docker JSON-file driver will split long events when printing to disk and will insert a `\n` at the end of the complete log entries.

We should be able to use a generic `is_last_entry` rule in the recom

[2022-03-04 04:19] mstumpfx commented on #321
@TylerHelmuth This was released today in v0.44 of the chart. Take a look at [these docs](https://github.com/signalfx/splunk-otel-collector-chart/blob/main/docs/advanced-configuration.md#control-plane-metrics) for more info on how to configure.

[2022-03-04 04:19] #321 closed

[2022-03-04 20:50] beth2016 opened #397 "Exporting failed. Will retry the request after interval"
In the splunk-otel-collector-agent logs for WINDOWS, I am getting these errors every few seconds.  What am I missing?  thanks.

go.opentelemetry.io/collector/exporter/exporterhelper.onTemporaryFailure
        /builds/o11y-gdi/splunk-otel-collector-releaser/.go/pkg/mod/go.opentelemetry.io/collector@v0.43.1/exporter/exporterhelper/queued_retry_inmemory.go:93
go.opentelemetry.io/collector/exporter/ex

[2022-03-04 21:29] matthewmodestino commented on #397
Looks like a 403 forbidden on the HEC URL. I would double check this section:

https://github.com/signalfx/splunk-otel-collector-chart/blob/75cfd0b637fee138191bf48b7cb323d1440b70c4/helm-charts/splunk-otel-collector/values.yaml#L25-L32

403 usually means wrong token

https://docs.splunk.com/Documentation/SplunkCloud/latest/Data/TroubleshootHTTPEventCollector#:~:text=4,Invalid%20token

[2022-03-04 21:45] beth2016 commented on #397
@matthewmodestino That is it.   Thanks so much.

[2022-03-04 21:45] #397 closed

[2022-03-07 07:36] awxfeix opened #398 "The default limit_mib seems to be 90% of total memory"
There is an incorrect description in this file.
https://github.com/signalfx/splunk-otel-collector-chart/blob/a6d71aee2f84a337819f3c21c86c0ab894d6a908/helm-charts/splunk-otel-collector/templates/config/_common.tpl#L8

According to the [code of `splunk-otel-collector`](https://github.com/signalfx/splunk-otel-collector/blob/1d289f68e9896eb58fdea3ef290e83a50774a5b0/cmd/otelcol/main.go#L59), the `defau

[2022-03-07 18:42] dmitryax commented on #398
@awxfeix thanks for catching this

[2022-03-08 04:32] dmitryax opened #401 "Prometheus errors in EKS with default configuration"
Recent version of the helm chart installed with default configuration in EKS throws the following errors:

[code]

k8s version: v1.21.5-eks-bc4871b

[2022-03-08 04:35] dmitryax commented on #401
@jvoravong can you please take a look? Looks like caused by the latest changes for the control plane.

[2022-03-08 10:41] saiharshitachava opened #402 "How do I change the field names which are shown up i splunk"
How do I change the field names which are shown up in splunk

I want to have custom field names like I want to rename k8s.cluster.name to cluster_name so that I can match earlier splunk connect configs How can I do that using otel

[2022-03-08 16:40] jvoravong commented on #401
@dmitryax Thanks for reporting this. I originally assumed that pod labels were unique enough or that the managed kubernetes clusters didn't allow the k8s_observer to pick up on private control plane pods.
- This issue is present with EKS with only the proxy metrics.
- This issue is present on GKE with only the coredns metrics.
- This issue is not present on AKS.

It seems managed kubernetes cluste

[2022-03-08 17:37] matthewmodestino commented on #402
You can use the `renameFieldsSck` setting, set to `true` to have the collector send field names that were used in SCK

https://github.com/signalfx/splunk-otel-collector-chart/blob/75cfd0b637fee138191bf48b7cb323d1440b70c4/helm-charts/splunk-otel-collector/values.yaml#L72-L76

[2022-03-08 18:16] saiharshitachava commented on #402
keepOtelConvention: true
this also should be true @matthewmodestino ? I used below values

 fieldNameConvention:
   # Boolean for renaming pod metadata fields to match to Splunk Connect for Kubernetes helm chart.
   renameFieldsSck: true
   # Boolean for keeping Otel convention fields after renaming it
   # keepOtelConvention: true

Cause I tried this and I see changes in config map as below but s

[2022-03-08 19:52] dmitryax commented on #401
I think we should keep `enabled` as is, without an undefined state. Otherwise it makes it hard to understand the logic.

Why can't we figure out pod label based on the distribution?

[2022-03-08 21:46] HiteshDhuria commented on #381
Hi @rockb1017 @jodeev   @dmitryax
Can you pl confirm on this one if the limitation is posed by Splunk or is it for connector alone?
Thanks,
Hitesh

[2022-03-08 21:49] jvoravong commented on #401
We explicitly don't support EKS, GKE and AKS control plane metrics at this time. We could have

[2022-03-09 07:11] dmitryax commented on #401
I would recommend just not setting up the control plane receivers for unsupported distributions as you suggested in the last snippet

[2022-03-09 14:49] saiharshitachava commented on #353
@inspired  Do we know if we can overwrite source sourcetype and index via deployment labels?

[2022-03-09 15:38] matthewmodestino commented on #353
@saiharshitachava I believe you'd have to customize the logging pipeline to achieve that. Labels are already available as fields, but they don't get set as source and sourcetype. Do they really need to be source/sourcetype? or you just need them for filtering in the search?

https://github.com/signalfx/splunk-otel-collector-chart/blob/ce5c29d847dece1a86bd789b0402880c0bb5318f/helm-charts/splunk-ote

[2022-03-09 15:51] saiharshitachava commented on #353
They really need to be source and sourcetype. If I want to overwrite them at deployment level @matthewmodestino

I already have fields added

We had fluentd log engine earlier and we were able to acheive this by writing some ruby custom filters

Im not sure how we can do that with otel

[2022-03-09 16:49] #401 closed

[2022-03-10 08:32] saiharshitachava opened #406 "Filtering events doesnt work as expected"
We Configured otel and pods are runnign fine in clusters

But when we check for logs in splunk for some reason queries are not working as expected

index=test "k8s.cluster.name"="poc2" "k8s.namespace.name"="kube-system" ---returns events

but  when searched with below

index=test  "k8s.namespace.name"="kube-system" --doesn't return anything

same goes with any other fields like k8s.* for filtering

[2022-03-10 14:44] saiharshitachava commented on #406
I think fields selection is just doing a string match and not matching the fields

As in index=test "k8s.namespace.name"="kube-system" returns something if events has string called kube-system in it

[2022-03-10 16:58] matthewmodestino commented on #406
Hi @saiharshitachava you will either need to configure `fields.conf` for the indexed fields as described [here](https://docs.splunk.com/Documentation/Splunk/8.2.5/Data/Configureindex-timefieldextraction#Where_to_put_the_configuration_changes_in_a_distributed_environment) or [here](https://github.com/splunk/splunk-connect-for-kubernetes#searching-for-sck-metadata-in-splunk), or like we  Splunk Clou

[2022-03-10 20:13] #398 closed

[2022-03-12 21:39] matthewmodestino commented on #222
Any update on when k8s events can be sent out the Splunk platform exporter?

[2022-03-16 17:06] mstumpfx opened #412 "make node conditions to report and node allocable types to report configurable via values"
The two configuration options `allocatable_types_to_report`  and `node_conditions_to_report` in the k8s_cluster receiver are not configurable unless we overwrite the entire existing k8s_cluster config. It would be nice to be able to config them using values.yaml

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8sclusterreceiver#configuration

[2022-03-21 20:13] xamox opened #415 "Add ability to increase log verbosity for otelcol (not fluentd)"
I am running into an issue where I have deployed the collector, I setup one application and it seems to be collecting prometheus metrics fine, I had two others that it is trying to connect but throwing a warning:

`splunk-otel-collector-1647352417-agent-ppx85 otel-collector 2022-03-21T20:10:07.311Z	warn	internal/otlp_metricsbuilder.go:159	Failed to scrape Prometheus endpoint	{"kind": "receiver", "

[2022-03-22 19:08] matthewmodestino commented on #396
I have managed to get a proof of concept of this working in GKE with their Ubuntu Docker nodes, using `recombine` rule added in `extraOperators` section. Ideally this would be inserted earlier in the pipeline to ensure `multlineConfigs` don't interfere and so we can use `$$attributes["file.path"]` default setting, which didn't work for me lower in the pipeline.

[code]

`filelog` receiver config e

[2022-03-22 19:41] matthewmodestino opened #417 "Expose more `recombine` settings in `multilineConfig` section"
As a OTel native logging user, I would like to be able to control advanced use of `recombine` settings for my `multilineConfig` like `combine_with` to make sure my logs look good in the logging backend, or `is_last_entry` or `source_identifier` for advanced multiline reassembly examples.

Really, most of the settings here should be available if the user needs them:

https://github.com/open-telemet

[2022-03-22 23:04] scottraiford opened #418 "Metrics collection errors ("failed to set extra labels from metadata") from kubeletstats"
Up until recently, I had a working deployment of 0.42.0 on my OpenShift clusters. I made a small config change (adding a file path exclusion) and redeployed the Helm chart on 3/15/22, which also deployed new versions of the collector and related components. Since then, container metrics have stopped being collected. Relevant log lines from the collector pods are:
[code]

Those last lines from `kub

[2022-03-22 23:19] jvoravong commented on #401
@lindhe This helm chart does support collecting many metrics from AKS, but it specifically does not support collecting metrics the AKS control plane which is what [_otel-agent.tpl#L79](https://github.com/signalfx/splunk-otel-collector-chart/blob/splunk-otel-collector-0.45.0/helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl#L79) is referring to. Managed Kubernetes services such as

[2022-03-23 15:15] lindhe commented on #401
Alright, thanks for clarifying!

Is the first documentation I linked to out-of-date then?

[2022-03-24 09:14] lindhe commented on #401
Hm... I'm sure it's just me missing the point here. But to me it looks like the documentation contradicts itself.

[Here](https://github.com/signalfx/splunk-otel-collector-chart/blob/440b2a13c1d228416e20608bc75bef4cece0a41b/docs/advanced-configuration.md?plain=1#L214-L222) it says:
[code]

And [here](https://github.com/signalfx/splunk-otel-collector-chart/blob/440b2a13c1d228416e20608bc75bef4cece0a

[2022-03-31 09:57] lindhe opened #424 "Confusion regarding "Collector" vs "Connector""
AFAICT, the use of "Connector" is legacy or a typo or something. I think it should say "Collector" everywhere it says "Connector" today (e.g. in the About section in this repo).

I suggest that we either
a) change all occurrences of Connector to Collector, or
b) clarify in the README what the difference is.

:)

[2022-04-04 12:35] ikarlashov opened #426 "Monitor Splunk availability?"
Hi.

We're using your chart for exporting splunk logs. We have prometheus monitoring. So we're scraping metrics from 8889 port.
Although there's a number of metrics, I can't figure out which metrics we need to monitor to get a vision whether splunk endpoint is reachable and logs are being sent (Response code 200 from Splunk endpoint).

We're using latest version **0.47.1**.

[2022-04-04 16:41] matthewmodestino opened #427 "Resource Detection Processor fails to retrieve configmap "aws_auth" on EKS"
When deploying on EKS (both linux and windows nodes) the OTel collector agent warns it is unable to retrieve `aws-auth` configmap.

[code]

Working with a customer, I believe they had to add `ConfigMap` to the `ClusterRole` to get the warns to go away.

https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/templates/clusterRole.yaml

[2022-04-04 17:10] matthewmodestino opened #428 "Issues deploying on EKS Windows Nodes"
Hi team, in working with a user deploying to EKS Windows Node Groups, we ran into a few items that caused the deployment to fail using default chart values.

In order to deploy successfully we needed to make customizations to the chart, that like should be done by default, or included in documentation:

Update SecurityContext:

We had to update security context to use `ContainerAdministrator` user

[2022-04-04 18:35] matthewmodestino opened #429 "OTel collector agent is no longer logging all the files it has started watching"
From, what I believe to be the 0.47.0 chart release, the otel agent no longer seems to log all the files it finds with the `filelog` receiver.

Previously, when checking the agent's logs, you would see multiple messages like:

[code]

Now when I deploy, I only ever see one entry in the pod logs, despite the agent sending mulitple logs and obviously monitoring more than what is seen in the info log

[2022-04-04 23:03] jvoravong commented on #429
Interesting. I was able reproduce this issue with v0.46.0 and v0.47.0 of the chart. v0.45.0 of the chart did not have this issue. Didn't see any changes to the chart that would have caused this directly.

From a glance, I suspect this behavior was introduced with opentelemetry-log-collection v0.25.0 or v0.26.0 or with go.opentelemetry.io/collector v0.45.0. Didn't find any indirect clues in the cha

[2022-04-04 23:37] matthewmodestino commented on #429
Let me know if we need to open an issue against https://github.com/open-telemetry/opentelemetry-log-collection

[2022-04-05 10:59] matthewmodestino commented on #429
It may be that it only logs/watches files being actively written. Was playing with the recent docker image, and when i dropped in new workloads, they did show up.

[2022-04-08 02:26] scottraiford commented on #418
In discussion with @matthewmodestino, it seems my missing metrics are not actually from the agent collector, but from the cluster-receiver, which appears to be crashing. I've attached the log from that container.

[openshift-splunk-otel-collector-k8s-cluster-receiver-74f97k9mwv-otel-collector (2).log](https://github.com/signalfx/splunk-otel-collector-chart/files/8448018/openshift-splunk-otel-colle

[2022-04-11 15:36] matthewmodestino opened #430 "splunk_hec/platform_logs Exporting failed. Will retry the request after interval "error EOF""
Cross referencing this issue opened on the collector repo

https://github.com/signalfx/splunk-otel-collector/issues/1453

[2022-04-11 15:37] matthewmodestino opened #431 ""splunk_hec/platform_logs" and "splunk_hec/platform_metrics" "context deadline exceeded (Client.Timeout exceeded while awaiting headers)""
Cross referencing this issue opened against the collector but may be related to helm chart parameter tuning, specifically `http timeouts`

https://github.com/signalfx/splunk-otel-collector-chart/blob/97dc6dca6f04a764a1fe48658453de72ed747a35/helm-charts/splunk-otel-collector/values.yaml#L47-L48

https://github.com/signalfx/splunk-otel-collector/issues/1454

[2022-04-13 14:09] halovanic commented on #428
Thank you @matthewmodestino, I too had been struggling to make Windows on EKS work since 0.42 and this magic `agent.securityContext` value is indeed the fix.  It seems this should either be incorporated into the Windows documentation or keyed off the `isWindows` value since I don't think any other security options work under Windows.

I think the general direction for the secret problem is to full

[2022-04-13 14:16] matthewmodestino commented on #428
That's another good point, I did find that both the liveness probe guidance in the chart was key, and did see instances where upping the resource limits was helpful.

[code]

[2022-04-15 23:05] mbranyon commented on #427
I am seeing this issue exact issue as well.

[2022-04-27 15:16] emaderer commented on #426
You cal look at the **otelcol_exporter_sent_log_records** and **otelcol_exporter_send_failed_log_records** internal collector metrics to see how the HEC exporter is doing.

[2022-04-27 18:21] dmitryax opened #439 "Fix the secret name to be able to install more than one chart in the same cluster"
Currently secret name is build from [Chart name](https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/templates/_helpers.tpl#L145), but it has to be build from Release name to not introduce conflicts between different installations of the same chart. Similar way as done for other generated resources.

[2022-04-27 18:22] dmitryax commented on #428
@matthewmodestino thanks for reporting this. I've created another issue for secret name conflict https://github.com/signalfx/splunk-otel-collector-chart/issues/439

[2022-04-28 14:43] jvoravong commented on #133
Related environment that would have issues using hostNetwork:
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

[2022-04-29 13:55] KingJ opened #443 "containerd-recombine log operator errors on 0.49.0"
I'm experimenting with chart & collector v0.49.0, however in clusters that use containerd (e.g. GKE based clusters), i'm seeing an unexpected error related to log collection in the OTEL container logs;

[code]

This error repeats frequently for a range of different log files.

If I roll back to 0.48.0, I do not see this error and log ingestion works as normal. This error is also not present on clu

[2022-04-29 20:39] jvoravong commented on #443
Was able to reproduce this issue, we'll work on getting a fix out.

[2022-05-04 01:04] dmitryax commented on #443
@KingJ the issue should be fixed in 0.50.0. Please let us know how it works

[2022-05-04 11:23] ikarlashov commented on #426
@emaderer
Thanks.Unfortunately I can't find such metrics. Am I missing something?
![image](https://user-images.githubusercontent.com/23174935/166671973-ecffda71-3967-4068-b209-397e515a4b0e.png)

[2022-05-05 10:45] KingJ commented on #443
@dmitryax I've given 0.50.0 a try and I can confirm it is now working on our containerd-based clusters! Many thanks!

[2022-05-05 10:45] #443 closed

[2022-05-26 04:07] elvis-cai commented on #222
+1, could we have https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8seventsreceiver or simliar one to send k8s event logs to Splunk cloud?

[2022-05-27 16:01] lindhe opened #455 "The batch processor is placed before filter"
I recently read through [the docs for batch processor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor) and it said:

I noticed that this chart places batch _before_ filter. If that is intentional, I think it should be documented. Otherwise, this sounds like something that could be an easy performance improvement to make.

Here's some places where it's

[2022-05-30 00:47] aquam8 opened #456 "Invalid configuration: either “log_data_enabled” or “profiling_data_enabled” has to be true"
Hi

I would like to report a problem. It's related to #444 I think . I did not have that problem in version 0.48.0 of the Helm chart.

In 0.51.0 it now complains with this error:
[code]

I can confirm that both log and profiling is disabled in my case, but why does any has to be enabled. I only want to have metrics and traces to be sent to o11y because of data governance restrictions.

I would lik

[2022-05-31 14:45] rmfitzpatrick commented on #456
Thanks for your report @aquam8. The validation error was introduced in https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6e1dcf6c37cd68d52a96523aa463f1ed0760358e and I think the changes in #444 may expose that we could be using the wrong helper value for determining whether to enable the exporter for the agent and cluster receiver configurations. However, on first inspection

[2022-06-01 12:06] wiika opened #458 "Splunk events split with linebreak at 8k"
We have installed the splunk-otel-collector-chart on Openshift on Azure (ARO) using ArgoCD. Long log lines are split at 8k (8192 characters) and appear in Splunk with a linebreak/newline at the split point. I have read that splitting at 8k is standard on Openshift/Kubernetes by crio:
https://access.redhat.com/solutions/5675451
https://access.redhat.com/solutions/5823701

Markers are inserted to in

[2022-06-01 15:50] matthewmodestino commented on #458
Looks like the built in `recombine` rule for cri-o reassembly needs to have the `combine_with` option updated. It defaults to `\n` and looks like we want `combine_with ""`.

You can manually add the setting to the template or configmap until the helm chart is updated, here:

https://github.com/signalfx/splunk-otel-collector-chart/blob/62de7dc939a08a00b94ffe8925c334cccdee475a/rendered/manifests/ote

[2022-06-02 07:07] wiika commented on #458
Thanks @matthewmodestino ! That sounds like the solution. I will give it a try (if I can manage to make a patched version of the chart and host it :) )

[2022-06-02 13:17] matthewmodestino commented on #458
I'd suggest just jamming it into the configmap to verify it works, then we can try and make sure the chart gets updated as soon as possible.

[2022-06-02 13:32] matthewmodestino commented on #458
Nah, you'd have to do it after deploying...in test ideally.

Otherwise, easiest way I know is to pull the repo locally, make the edit to the template then point helm at the local copy. I'll asl around if there's a makefile or build option in the repo that might help...

[2022-06-03 00:08] ssuzze opened #459 "Splunk Windows pod failure"
We have installed chart=splunk-otel-collector-0.51.0 on EKS windows node cluster and encountering pod failures per logs:

Trace[………]: ---"Objects listed" error:Get "https://......../api/v1/pods?fieldSelector=spec.nodeName%3Dip-............&limit=500&resourceVersion=0": dial tcp……. connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or

[2022-06-03 11:16] wiika commented on #458
I managed to change the live configmap and add combine_with: "" and then restarted (the daemonset).
This solved the issue, I no longer get newlines in Splunk.

[2022-06-03 11:25] matthewmodestino commented on #458
Excellent, will make sure someone has a look and updates the chart.

I also opened this issue to expose this same setting for users custom `recombine` rules, as sometimes the `\n` is needed, sometimes it isn't, depends on the application/use case.

https://github.com/signalfx/splunk-otel-collector-chart/issues/417

[2022-06-07 05:45] aquam8 commented on #456
Hi @rmfitzpatrick

I am indeed using the values you listed `splunkObservability.logsEnabled=false, splunkPlatform.logsEnabled=true`.
See my Helm values:
[code]

The error comes  from `splunk-otel/splunk-otel-collector-chart-k8s-cluster-receiver` deploy/pod:
[code]

The `splunk-otel/splunk-otel-collector-chart-agent` daemonset starts okay.

Changing `splunkObservability.logsEnabled: true` fixes the

[2022-06-17 08:13] ikarlashov commented on #426
@emaderer Can you elaborate, pls?

[2022-06-22 18:02] #396 closed

[2022-06-23 07:07] awx-kqkq opened #470 "splunkObservability.logsEnabled MUST to be true and cannot be disabled (for 0.49.0 or newer)"
After upgrading to 0.49.0 or newer, `splunkObservability.logsEnabled` and cannot be set to false, or the Splunk agent won't start and failed with:

[code]

It requires at least one of following options to be true
* log_data_enabled
* profiling_data_enabled

A quick troubleshooting shows `profiling_data_enabled` is always false:

https://github.com/signalfx/splunk-otel-collector-chart/blob/main/hel

[2022-06-23 14:53] #470 closed

[2022-06-23 16:26] rmfitzpatrick commented on #456
@aquam8 this should be resolved in https://github.com/signalfx/splunk-otel-collector-chart/releases/tag/splunk-otel-collector-0.53.2. Thanks again for your report and patience.

[2022-06-23 16:26] #456 closed

[2022-06-23 16:26] rmfitzpatrick commented on #470
Thanks for your report @awx-kqkq, this should be resolved in https://github.com/signalfx/splunk-otel-collector-chart/releases/tag/splunk-otel-collector-0.53.2.

[2022-06-24 19:04] dmitryax opened #474 "Move system option for agent from the top level"
The following options are defined in the top level but applicable only for the agent. Other components have the same options at their own levels:

[code]

They should be moved under `agent` for consistency with other components. We should support both places for a while, so the change should be done in backward compatible way with a warning if the root level configs are being used.

[2022-06-24 19:30] #458 closed

[2022-06-24 19:31] dmitryax commented on #458
@wiika @matthewmodestino thanks for reporting the issue. It's fixed now and should be available in the next release

[2022-06-29 18:14] rmorlenSplunk opened #477 "Questions about security"
Looking at the SCC definition in the splunk otel collector helm chart (https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/templates/securityContextConstraints.yaml), comparing it to the OpenShift cluster logging operator SCC “log-collector-scc” (which deploys an EFK stack to perform monitoring).

The OpenShift cluster logging operator SCC is a more

[2022-06-29 21:36] dmitryax commented on #222
OTel k8s events receiver is now adopted by the helm chart https://github.com/signalfx/splunk-otel-collector-chart/pull/478

[2022-06-29 23:08] elvis-cai commented on #222
thanks @dmitryax , I can see kube events in Splunk cloud now. 🎉

[2022-06-29 23:20] dmitryax commented on #222
I'm closing this issue.

We are still don't have enough evidence for adding k8s objects support. If anyone thinks that it's required, please submit another issue.

[2022-06-29 23:20] #222 closed

[2022-07-02 19:25] fsbaraglia commented on #186
Hi @dmitryax , can you please check if you can run this command ?
kubectl top nodes

[2022-07-12 12:33] lindhe opened #485 "Dangerous file modifications by `chown` init container"
Hello!

We are Splunk Observability Cloud customers using this chart to collect logs and metrics from our Kubernetes clusters. We have been having issues caused by the `chown` init container.

## Background

A while back, we noticed some very strange behaviour in some of our pods. Our Ingress Controllers crashed seemingly out of random, and were stuck in `CrashLoopBackOff`. Upon investigating, it

[2022-07-16 23:20] dmitryax opened #490 "k8s events collection is broken if gateway is enabled"
If k8s events collection enabled along with gateway, cluster receiver is failing with the following message:

[code]

[2022-07-22 06:52] harshit-splunk commented on #485
@lindhe It turned out that there is no need to change the group owner of `/var/lib/docker/containers`
`setfacl` will provide read access to non-root users without modifying the group owner.

It is fixed in https://github.com/signalfx/splunk-otel-collector-chart/pull/486

[2022-07-22 06:52] #485 closed

[2022-08-01 22:06] tqi-raurora opened #503 "High increase in indexer queue used percentage when switching to otel"
We've been using splunk connect for kubernetes for some time.
We've tried switching to otel, however when we switched we saw a considerable increase in the GBs ingested coming from kubernetes, along with a very big increase in the % used rate for the queues in our indexers.

We are wondering where this increase in indexer load might be coming from.

Here's a hypothesis: We've noted that otel by de

[2022-08-02 11:11] lindhe commented on #485
Wow, that's great! Sounds like a really good solution. I'm no expert in Linux's ACL, but I'm pretty sure we identified no issues with that line.

Thanks a lot for this fix! I will test this out and report back if anything seems broken.

[2022-08-03 11:54] lindhe commented on #485
A question to someone more knowledgeable about `setfacl` than I am: There is a `--restore` flag in `setfacl`, could that be used for a clean-up operation when uninstalling OpenTelemetry?

[2022-08-03 12:11] harshit-splunk commented on #485
@lindhe, restore flag can be used to delete ACLs but it requires root access. So, the collector itself cannot do the cleanup. You need to run separate job for that.

[2022-08-03 15:25] lindhe commented on #485
@harshit-splunk perhaps a new pod (with root access) can be started upon uninstall via [Helm's `post-delete` hook](https://helm.sh/docs/topics/charts_hooks/)? I think it would be very nice if Otel could clean up after itself properly, even if the current state is _a lot less_ of a mess than before.

[2022-08-05 23:16] dmitryax commented on #490
Fixed by https://github.com/signalfx/splunk-otel-collector-chart/pull/491

[2022-08-05 23:16] #490 closed

[2022-08-09 18:15] kumachop2 opened #506 "Add image option in Values Yaml file init container"
We are  not enabled internet access our cluster and need to point to local registry. Please refer below link and add redhat image option in values.yaml file.

https://github.com/signalfx/splunk-otel-collector-chart/blob/153db1f22d62480c10b7a6cc50d754e1a07a4597/helm-charts/splunk-otel-collector/templates/daemonset.yaml#L139

[2022-08-09 18:22] kumachop2 opened #507 "Add runAsUser options in Values.yaml for init containers"
Based on our security needs init container to be initialized as non root user. Please help us values to pass non root user in values.yaml file. Here is link referring to.

https://github.com/signalfx/splunk-otel-collector-chart/blob/5097ecfa5afb1c31cbbb965ed1b444ccd86f29c1/helm-charts/splunk-otel-collector/templates/daemonset.yaml#L159

[2022-08-09 20:22] dmitryax commented on #507
Hey @kumachop2. This is an init container that is setting access permissions to the log directories on the node, so the collector itself can read from there while running as a non root user. It wouldn't be possible to change the access permissions if the init container run as a non root user.

[2022-08-09 22:57] kumachop2 commented on #507
Thank You for you prompt response. Based on Azure recommendations **running containers as root user should be avoided**. Please do advice steps to achieve it.

[2022-08-09 23:34] dmitryax commented on #507
Yes, this should be avoided. That why we have an isolated init container that runs only once to make it possible for the main long-running otel collector container to run as non root.

I don't think there is another way to fetch logs from the node using the otel collector without running this init container as root.

[2022-08-10 16:46] atoulme commented on #381
Hi Hitesh, Splunk can consume traces, but they are then rendered as JSON documents. This is not our preferred route: we want to make sure traces can be interpreted in a backend that can associate them together. As such, I am closing the ticket. Please reopen if you have a use case involving Splunk Core which warrants trace ingestion, and we will investigate further.

[2022-08-10 16:46] #381 closed

[2022-08-10 16:46] atoulme commented on #352
Closing for inactivity. Please reopen if this is still occurring.

[2022-08-10 16:46] #352 closed

[2022-08-10 16:51] atoulme commented on #429
Closing for inactivity. Please reopen if the issue is still occurring.

[2022-08-10 16:51] #429 closed

[2022-08-10 16:55] atoulme commented on #431
Closing as the linked issue is marked as resolved. Please reopen if this requires further clarification.

[2022-08-10 16:55] #431 closed

[2022-08-10 17:29] atoulme commented on #366
Closing for inactivity. Please reopen if the issue is still occurring.

[2022-08-10 17:29] #366 closed

[2022-08-10 22:05] atoulme commented on #424
a) is the preferred option. Thanks for your report.

[2022-08-10 22:56] atoulme commented on #426
@ikarlashov I have recreated with an example this situation, and I see the two metrics Eyal mentions are showing as expected in Prometheus. Here is a PR where I go about creating this example: https://github.com/signalfx/splunk-otel-collector/pull/1856

If you only see metrics related to ingestion of metric points, it is likely you are using the Splunk exporter to export metrics, in which case the

[2022-08-10 22:56] #426 closed

[2022-08-12 18:34] atoulme commented on #503
Multiple things may contribute to a higher usage here.
We have identified that Splunk HEC exporter doesn't use multi-metrics events right now (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11459). It's also possible you get additional metrics as well since we can get more information from the cluster.
To disable metrics collection, we offer in our docs to set up `metrics

[2022-08-15 20:28] tqi-raurora commented on #503
@atoulme Thanks for your response!

Currently our configuration looks like:
metricsEnabled: false
tracesEnabled: false
logsEnabled: true

So it seems we are already using the suggested configuration

I wonder if we coud disable index-time field extractions from HEC metadata on the splunk side?

Other than that, I guess its possible the higher usage is coming from the increase in the volume of GBs

[2022-08-17 16:19] atoulme commented on #189
Closing this issue as inactive. Please reopen if this is still being worked on.

[2022-08-17 16:19] #189 closed

[2022-08-25 13:23] fm4991 opened #519 "Default Values in Helm Chart cause problems"
When we Install the otel-collector with this [values.yaml](https://github.com/signalfx/splunk-otel-collector-chart/files/9423629/values.yaml.txt) in our k3s clusters we get the following error message:

[code]
We tried to fix it in serveral playing around with the YAML structure, but in our opinion it is already a map.
In the End we fixed it with commenting the two mentioned values in the agent co

[2022-08-26 10:24] srawale opened #520 "Removing metrics/agent from Pipelines"
We want only traces as part of the helm chart computed values. For this e have set metricsEnabled: false everywhere in values.yaml. However computed values still show -
      pipelines:
        metrics/agent:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource/add_agent_k8s
          - resourcedetection
          - resou

[2022-08-26 15:44] jvoravong commented on #520
That looks like a bug.
Created: https://github.com/signalfx/splunk-otel-collector-chart/pull/521

[2022-08-26 16:30] dmitryax commented on #520
This is not a bug, this is done intentionally. Self reporting metrics are important for collector's observability. Users need to see how collector behaves. And the metrics are free of charge on Splunk Observability side with purchased APM product.

[2022-08-30 09:45] aryznar-splunk commented on #519
This issue is fixed and delivered.

[2022-08-30 09:45] #519 closed

[2022-08-30 17:43] evantorrie commented on #307
Yes, I'd also like to see an example (maybe in the rendered manifests) of how to forward logs from an `EmptyDir` volume mount using the Otel Collector as an agent daemonset.

Even better would be to include a way to automatically create a filelog receiver for pods as they are instantiated on the host, which configures the filelog "include" based on an annotation on the pod as to the directory/loca

[2022-08-30 17:45] evantorrie opened #522 "Include an Agent+Gateway rendered manifest example"
Currently, the example manifests are either "gateway-only" or "agent-only".

There doesn't appear (to me) to be an example which shows how you may typically deploy this in a k8s cluster with both the agent + gateway working together (in particular, the k8sattributes receiver config which does a `passthrough` on the agent).

This would probably be a good example to add.

[2022-08-30 23:13] mr-miles opened #523 "Migrating from Splunk Connect for Kubernetes on a secure k8s cluster"
Hi,

I am trying to migrate from SCK (which we've had running fine for some time) to the SOC chart.  I am hitting some obstacles because our cluster on EKS has security policies to restrict the use of containers running as root (etc).

In the SCK chart, there is an option "podSecurityPolicy.create" which we had set to true and then the helm chart deployed fine to the cluster.  However there is no

[2022-08-31 23:43] matthewmodestino commented on #459
Can you review this previous issue I opened covering some of what I had to do to get it deployed?

https://github.com/signalfx/splunk-otel-collector-chart/issues/428

Tldr, had to use containerAdmin and change liveness probes as per notes in helm chart.

[2022-08-31 23:44] matthewmodestino commented on #503
Could also be the chunk sizes and number of connections.

Can you give some detail about your Splunk deploy? Are the collectors being load balanced? etc

[2022-09-01 10:03] srawale commented on #520
<img width="1791" alt="Screenshot 2022-09-01 at 3 26 05 PM" src="https://user-images.githubusercontent.com/34511394/187888399-d73cbe7f-71d8-4741-8ec9-f715535abb4c.png">
@dmitryax screenshot attached.

[2022-09-01 11:34] MyneniMahesh commented on #520
@dmitryax We have only subscribed for the APM module. Since the new collector is publishing the collector metrics we are getting the above warning messages

[2022-09-02 01:17] oarusoft opened #525 "Error setting up Splunk OpenTelemetry Collector for Kubernetes"
I am trying to setup OpenTelemetry Collector for Kubernetes in Splunk Cloud.

For this I followed the following article

[Splunk OpenTelemetry Collector for Kubernetes](https://github.com/signalfx/splunk-otel-collector-chart)

I am using google Kubernetes engine. As mentioned in article I tried both below two helm to  install Splunk OpenTelemetry Collector in a Kubernetes cluster. None of these wo

[2022-09-02 01:34] atoulme commented on #525
This error indicates that your collector cannot connect to the `https://http-inputs-prd-p-19lmt.splunkcloud.com:8088/services/collector/event` endpoint.

Please ensure this endpoint is valid and responds. Currently this host is not registered under a DNS record:
[code]
Please refer to this documentation to establish the correct endpoint associated with your Splunk Cloud instance: https://docs.splu

[2022-09-02 01:39] atoulme commented on #523
Please let us know which version of the chart you are using - our latest release had some changes related to security contraints. We of course would welcome your contribution, thank you!

[2022-09-02 01:45] atoulme commented on #520
I am following up with the team. Please feel free to file a support ticket referencing this issue in the mean time. Thank you!

[2022-09-02 10:10] mr-miles commented on #523
Thanks.  I was using 0.58.0 which is latest I think.  I think the security constraints only applied to openshift (I am guessing here, I've never used openshift)

Here's a PR for the pieces:
https://github.com/signalfx/splunk-otel-collector-chart/pull/528

[2022-09-02 15:23] kumachop2 opened #531 "Sonatype Application reported Policy Violations for Quay.io Docker Image v0.56 (quay.io/signalfx/splunk-otel-collector). Please advise plans for remediation steps."
Policy Violations for Quay.io Docker Image Scan Build Report for critical.

10 Security-Critical Security cryptography (cp27-cp27m-macosx_10_6_intel) 2.7 (.whl)
10 Security-Critical Security cryptography (cp27-cp27m-manylinux1_x86_64) 2.7 (.whl)
10 Security-Critical Security cryptography (cp27-cp27m-win32) 2.7 (.whl)
10 Security-Critical Security cryptography (cp27-cp27m-win_amd64) 2.7 (.whl)
10 S

[2022-09-06 07:53] foram-splunk commented on #415
@jvoravong @dmitryax

For logLevel changes , what would be the better option?
1. Depreciate fluentd.config.logLevel and use global logLevel config in both fluentd and otel
**OR**
2. Add an example of how to enable debug logging like [this](https://github.com/signalfx/splunk-otel-collector-chart/blob/55efe279c18e5ffdf38acdbca89b30157c13adbc/docs/troubleshooting.md?plain=1#L56)

[2022-09-07 06:40] MyneniMahesh commented on #520
@atoulme , I have created the support please find the below ticket. Could you please let us know once the issue is resolved.
We are waiting for this issue to be resolved to upgrade our signafx smart agent to splunk OpenTelemetry Collector.
Thanks for looking in to it.

https://splunkcommunities.force.com/customer/s/case/5005a00002ESlbrAAD/we-have-only-subscribed-for-the-apm-module-since-the-new-co

[2022-09-07 14:36] atoulme commented on #520
The support case is under review and will be updated by our team - it is best to use it going forward to track the issue. Specifically, the team will communicate with you resolution over the support case. Closing this ticket.

[2022-09-07 14:37] atoulme commented on #531
Thank you for your report. We typically recommend you upgrade to our latest point release 0.59, as we continuously update our dependencies when releasing.

[2022-09-07 14:37] #531 closed

[2022-09-07 14:45] #455 closed

[2022-09-07 14:46] #309 closed

[2022-09-07 14:47] #303 closed

[2022-09-07 14:48] #424 closed

[2022-09-07 15:22] atoulme commented on #186
Closing for inactivity. Please reopen if you see this issue is still happening.

[2022-09-07 15:22] #186 closed

[2022-09-08 03:14] dmitryax commented on #523
PSPs are dropped in Kubernetes 1.25. this chart won't be using it https://kubernetes.io/docs/concepts/security/pod-security-policy/

[2022-09-08 03:14] #523 closed

[2022-09-08 04:29] dmitryax commented on #415
The second option should be used. Generally, we don't want to introduce any additional wrappers to what already can be configured with `agent.config`

[2022-09-08 04:31] dmitryax commented on #415
@xamox please follow the instruction that @foram-splunk suggested to enable debug logs https://github.com/signalfx/splunk-otel-collector-chart/blob/55efe279c18e5ffdf38acdbca89b30157c13adbc/docs/troubleshooting.md?plain=1#L56

[2022-09-22 11:15] johnzheng1975 opened #538 "[0.54.0/ 0.57.2] splunk-otel-agent raise error: Post http://splunk-otel:9943/v2/datapoint context deadline exceeded"
splunk-otel-agent raise error:
Post  http://splunk-otel:9943/v2/datapoint  context deadline exceeded (Client.Timeout exceeded while awaiting headers)

[code]

[2022-09-22 11:15] johnzheng1975 commented on #538
---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: splunk-otel
  namespace: infra
spec:
  interval: 10m
  url: https://signalfx.github.io/splunk-otel-collector-chart
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: splunk-otel
  namespace: infra
spec:
  interval: 5m # The interval at which to reconcile the Helm release
  releas

[2022-09-22 11:19] johnzheng1975 commented on #538
logs is:
[code]

[2022-09-22 11:55] johnzheng1975 commented on #538
From upper log, is this the root reason?
[code]

[2022-09-22 12:18] johnzheng1975 commented on #538
$ k exec -ti -n infra splunk-otel-agent-77bkw -- curl http://splunk-otel:9943/v2/datapoint -XPOST

curl: (7) Failed to connect to splunk-otel port 9943: Connection timed out

[2022-09-22 12:22] johnzheng1975 commented on #538
Sometimes:
$ k exec -ti -n infra splunk-otel-agent-77bkw -- curl splunk-otel:4317
Warning: Binary output can mess up your terminal. Use "--output -" to tell
Sometimes:
$ k exec -ti -n infra splunk-otel-agent-77bkw -- curl http://splunk-otel:4317
curl: (7) Failed to connect to splunk-otel port 4317: Connection timed out
command terminated with exit code 7

[2022-09-22 12:54] sharyanrtr opened #539 "Allow Namespace To Be Set On Template Rendering"
Want to be able to declaratively set the namespace parameter on the manifests to align with certain GitOps flows. We have a use case where we render the templates to a plain git repo, syncing with an Kubernetes cluster in a very plain manner.

Currently, the manifests output does not specify a namespace which leaves it up to the application of the manifests to dictate which namespace is to be used

[2022-09-22 14:33] johnzheng1975 commented on #538
The result is:
Totally 9 nodes, only 7 nodes has forwarded the logs successfully.
The other two nodes has no logs showed in splunk.

[2022-09-22 16:05] atoulme commented on #538
Hello @johnzheng1975 would you please open a support case if possible? This will be a better way to discuss and dive deeper on the issues you face.

[2022-09-23 04:25] lgoral opened #541 "Prometheus errors in OpenShift with default configuration"
I'm using version 0.58.0 with configuration
`  clusterName: xxxx
  splunkPlatform:
    token: xxxxx
    endpoint: xxxx
    logsEnabled: true
    index: openshift
    metricsEnabled: true
    metricsIndex: openshift_metrics

  logsEngine: otel
  distribution: openshift`

and on each splunk agent "splunk-collector-agent-*" have errors

`2022-09-23T04:23:42.538Z error prometheusexporter/prometheus.go

[2022-09-23 04:49] atoulme commented on #541
You can look here to understand what is happening: https://github.com/signalfx/splunk-otel-collector-chart/blob/f008069bfed00feb1286e9c85c1d024eb1913fe2/helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl
We are trying to scrape kube-proxy metrics, but they're not exposed in your cluster.

You can disable the proxy metrics collection by setting `agent.controlPlaneMetrics.proxy.enabl

[2022-09-23 06:58] johnzheng1975 commented on #538
ok, yes, submitted the ticket.
BTW, I resolved this issue through increase the pods count
- splunk-otel increae 3 to 8
- splunk-otel-k8s-cluster-receiver 1 to 3

Not sure this is root reason or not.

[2022-09-23 06:58] #538 closed

[2022-10-03 18:58] dmitryax commented on #539
@sharyanrtr, the recommended way to install helm in particular namespace is using `--namespace` argument. It's available for every helm command including `helm template`. Can you please elaborate why this approach doesn't work for your workflow

[2022-10-04 15:53] therevoman opened #551 "Unable to run container on Windows 2022 host"
Writing in behalf of customer who is running Kubernetes Windows Nodes and needs splunk installed.
The helm chart it references the image `quay.io/signalfx/splunk-otel-collector-windows:0.57.0` which appears to have a Windows2019 base.  Customer has hosts that are Windows2022.

Images are need with a WindowsServer2022 base image, due to known windows container kernel mismatch issues.

[2022-10-06 23:51] crcsmnky opened #555 "Install failure with GKE Autopilot"
Using the following values with `helm`:
[code]

And installed via:
`> helm install splunk-otel --values autopilot-values.yaml splunk-otel-collector-chart/splunk-otel-collector`

This was the output (formatting mine):
[code]

Chart used:
[code]

[2022-10-14 18:54] atoulme commented on #551
We will look at providing a Windows 2022 docker image, the work will happen in https://github.com/signalfx/splunk-otel-collector as part of our Docker distribution.

[2022-10-14 19:34] rprakashg-redhat opened #561 "Missing Steps in documentation for Installing on Hybrid Openshift clusters"
Current documentation around installation steps on a Hybrid cluster is missing some steps required for OpenShift

Instructions for windows deployment is missing some config required for scheduler to schedule the daemonset on windows nodes
as described in this document here https://docs.openshift.com/container-platform/4.11/windows_containers/scheduling-windows-workloads.html

if you are trying to

[2022-10-14 19:38] rprakashg-redhat commented on #561
#https://github.com/signalfx/splunk-otel-collector/issues/2075

[2022-10-14 19:40] rprakashg-redhat commented on #561
signalfx/splunk-otel-collector/issues/#2075

[2022-10-14 19:42] rprakashg-redhat commented on #561
signalfx/splunk-otel-collector/issues#2075

[2022-10-19 08:16] harshit-splunk commented on #430
Closing with signalfx/splunk-otel-collector#1453

[2022-10-19 15:20] ansilva1 opened #564 "Otel collector reading old logs after migration from SCK"
Hi,

Even migrationcheckpoint initContainer seems to ran successful Otel collector is reading log files from beginning. That makes a huge pressure on Splunk due to a high events rate just right after Otel collector starts. I'm migrating from SCK 1.4.15 to Otel 0.61.1.

splunk-otel-collector helm values.yaml file:

`---
splunkPlatform:
  metricsEnabled: false
  fieldNameConvention:
    renameFields

[2022-10-21 15:00] sharyanrtr commented on #539
@dmitryax We use [helmfile](https://github.com/helmfile/helmfile) to render the templates out to a repo then use a GitOps tool to sync that repo with Kubernetes. Helmfile will not insert a namespace into the rendered templates unless there is templating for it to be present. So we are seeing deployments being default-namespaced as we cannot control the namespace of the rendered helm charts.

[2022-10-26 14:06] rmfitzpatrick commented on #395
@matthewmodestino this is already possible with the agent config value that merges with the receiver's final configuration:

[code]

Is this adequate for your use case or is there something else that would be needed?

[2022-10-26 14:08] matthewmodestino commented on #395
Ah! Yes it does! I assumed that might be the way! Thanks for confirming!

[2022-10-26 14:08] #395 closed

[2022-10-26 18:04] matthewmodestino commented on #561
Hey @rprakashg-redhat while we know Red Hat points customers to the log forward api, our customers frequently prefer a dedicated logging agent, for various reasons, including scale, flexibility and customization.

Just a heads up that we will likely continue to recommend the otel logging agent.

[2022-10-26 19:30] rprakashg-redhat commented on #561
Sure my point was currently for windows nodes the article I shared does not work and if this solution is being leveraged for windows nodes, you'd typically not going to need to have the agent running on master nodes or even linux nodes right. Documentation should include these type of use cases IMO

[2022-10-26 19:39] matthewmodestino commented on #561
Not sure Splunk documentation should cover non Splunk solutions, and most customers I deal with schedule on all nodes including control plane to monitor the entirety of the cluster. Don't usually get asked to only collect partially from the cluster or only on certain nodes, but again, appreciate the feedback! Thanks!

[2022-10-26 19:53] rprakashg-redhat commented on #561
Sorry If I'm not making this clear, just saying to include a use case if you are using otel collector to just collect metrics from windows nodes, those changes I suggested might be worth including in docs.

[2022-10-26 19:56] rprakashg-redhat commented on #561
I was working with a customer who wanted to use the otel collector to collect metrics from windows nodes, they were happy with the ootb solution they get with Openshift. they ran into issues with the deployment and had to help them. That's what prompted me to log this request for documentation update :)

[2022-10-27 15:45] matthewmodestino opened #570 "`extraVolumes` and `extraVolumeMounts` not being added to fluentd log engine option"
In trying to mount a custom log volume for IBM Kubernetes Service, while using `logsEngine: fluentd`, it appears the `extraVolumeMounts` and `extraVolumes` only shows up in the OTel collector pod and not in the Fluentd pod, which causes us not to be able to pick up the k8s log files.

Agent Config from Helm Chart:

[code]

 `kubectl describe pod` output:

[code]

As you can see the `mattymotest` v

[2022-10-28 20:16] matthewmodestino opened #572 "Support multiple deployments of the Helm chart to the same K8s cluster by making all colliding configs/ports user customizable in values.yaml"
Hey Team!

I have a client that has a use case where deploying the helm chart multiple times to the same cluster is required to service different business units.

This is to accommodate sending logs to different Splunk instances, as well as to configure the filelog receiver in the charts to focus on only specific namespaces.

While a single OTel agent likely could be customized with multiple pipel

[2022-11-01 05:28] #564 closed

[2022-11-04 18:13] rohits-splunk opened #575 "Need instructions to add receivers and services into values.yaml on helm chart"
I am trying to ingest custom application metrics into o11y cloud , need instructions on how to add receivers and services on the helm chart ( values.yaml ) , tried adding like the usual agent config but it didn't allow me.

Please help update instructions to make this clearer.

[2022-11-07 20:30] Yiyito11 opened #576 "Unable to connect to splunk cloud from AKS cluster. time out error"
Hello All. Im trying to install the splunk conector inside our AKS cluster to collect app logs to send to our splunk cloud instance. I´m following [this](https://docs.splunk.com/Observability/gdi/opentelemetry/install-k8s.html#nav-Kubernetes) tutorial.

So I downloaded the chart,  set the values.yaml with our splunk cloud instance and our token and run helm install command like this.

` helm insta

[2022-11-11 01:41] atoulme commented on #539
@sharyanrtr I know very little about `helmfile`. I googled around and found this SO thread which I think offers a solution: https://stackoverflow.com/questions/68660862/helm-release-to-be-in-custom-namespace-and-not-in-default

Excerpt:

[code]

[2022-11-14 06:26] harshit-splunk commented on #344
Added in https://github.com/signalfx/splunk-otel-collector-chart/pull/547

[2022-11-14 06:26] #344 closed

[2022-11-16 14:27] matthewmodestino commented on #572
I started inserting these customizations into my `values.yaml` so figured I'd capture progress in this thread.

I have hit hardcoded ports in the daemonset when updating healthcheck extension that makes exposing these in the helm chart necessary vs just agent level configs.

[code]
Pod comes up and changes are seen in the otel startup logs, but never ready because the port has been changed in agen

[2022-11-16 17:57] matthewmodestino commented on #572
Figured out how to access the pipeline config..forgot the `service` field before pipelines. Handy to work backward from the configmap that is generated by default!

[code]

so this turns off the `otlp` and `fluentdforward` receivers and changes the port on health check and zpages to try and avoid conflict.

[2022-11-18 22:30] connorM43 opened #586 "Stack smashing error when executing bash"
I'm experiencing an interesting error across multiple EKS and AKS clusters after installing the helm chart. Upon either trying to terminal into a pod or when the secret validation job attempts to run, there's a fatal error as defined below:

[code]

This is using `v0.62.0` of the chart. We have tried with our config changes (e.g. additional receivers) as well as a straight fresh install with the b

[2022-11-18 22:36] atoulme commented on #586
Please reopen the case, linking to this issue, so we have maximum air cover. Please make sure to report in the case that it is not solved.

Would you please indicate exactly how to reproduce the bug? When you mention trying to terminal into a pod, do you mean you are trying to execute the command `kubectl exec -it -- pod sh`?
By any chance, have you seen this happen elsewhere, or have you replicat

[2022-11-18 22:38] atoulme commented on #586
Please also indicate your own OS and kubectl version.

[2022-11-21 21:30] atoulme commented on #555
Sorry to hear you ran into trouble. We have some additional steps related to gke/autopilot you can follow here: https://docs.splunk.com/Observability/gdi/opentelemetry/kubernetes-config.html#configure-google-kubernetes-engine-autopilot

Please let me know if you still run into issues.

[2022-11-24 12:00] Jylhis opened #590 "Disabling internal metrics"
Hi,

I would like to use otel collector to only send metrics from specific namespaces. How can I disable sending of the internal metrics, specifically `otelcol`?

I have setup exclude filter for containers, but these doesn't seem to have effect for internal metrics.

[2022-11-25 09:51] Jylhis commented on #590
Thank you for the link. The problem why my filter didn't catch those metrics was that it was defined for `metrics` service and not `metrics/collector`.

I agree that the metrics are useful, but for my niche use case I need them disabled (or at least not exported to a same place).

The way I implemented it for now was to create new processor that defines regex of namespaces I don't want to be monit